.imageSelector{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:880px;
}


.thumbnailImage{
    border-radius:5px;
    margin:5px;
    padding:2px;
    width:160px;
}

.selImage:hover{
    box-shadow: 2px 2px 5px rgb(116, 194, 168);
}

.selImage{
    padding:0px;
    border-radius:0px;
    border:none;
}

.selImage:focus,
.selImage:focus-visible {
 outline:2px auto goldenrod;
 box-shadow:none;
}


