.imageSelector{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:900px;
}


.thumbnailImage{
    border-radius:5px;
    margin:5px;
    width:200px;
    cursor: pointer;
}

.thumbnailImage:active{
    box-shadow: 2px 2px 2px 2px rgb(116, 194, 168);
}

/*.selImage{

}*/

